{
  "openapi": "3.0.3",
  "info": {
    "title": "Blueharvest",
    "version": "1.0",
    "description": "This is the API Contract for the Blueharvest application. If you need to find implemented or available API please go to Postman API Documentation."
  },
  "servers": [
    {
      "url": "https://blueharvest.irvansn.com",
      "description": "Production server"
    },
    {
      "url": "http://localhost:8080",
      "description": "Development server"
    }
  ],
  "tags": [
    {
      "name": "Auth",
      "description": "Authentication related endpoints"
    },
    {
      "name": "Address",
      "description": "Address related endpoints"
    },
    {
      "name": "Customer Address",
      "description": "Customer Address related endpoints"
    },
    {
      "name": "Product",
      "description": "Product related endpoints"
    },
    {
      "name": "Farm",
      "description": "Farm related endpoints"
    },
    {
      "name": "Farm Monitor",
      "description": "Farm Monitor related endpoints"
    },
    {
      "name": "Farm Invest",
      "description": "Farm Invest related endpoints"
    },
    {
      "name": "Article",
      "description": "Article related endpoints"
    },
    {
      "name": "Promo",
      "description": "Promo related endpoints"
    },
    {
      "name": "Courier",
      "description": "Courier related endpoints"
    },
    {
      "name": "Transaction",
      "description": "Transaction related endpoints"
    },
    {
      "name": "Transaction Detail",
      "description": "Transaction Detail related endpoints"
    },
    {
      "name": "Cart",
      "description": "Cart related endpoints"
    }
  ],
  "paths": {
  "/v1/login/customer": {
    "post": {
      "tags": ["Auth"],
      "summary": "Customer login",
      "description": "Successfully Customer logged in. Please store the token authentication credentials securely.",
      "requestBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "full_name": {
                  "type": "string",
                  "format": "email",
                  "example": "John Doe"
                },
                "email": {
                  "type": "string",
                  "format": "email",
                  "example": "johndoe@gmail.com"
                },
                "password": {
                  "type": "string",
                  "format": "password",
                  "example": "password123!"
                }
              },
              "required": ["email", "password"]
            }
          }
        }
      },
      "responses": {
        "200": {
          "description": "200 (OK)",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "boolean",
                    "example": true
                  },
                  "message": {
                    "type": "string",
                    "example": "Berhasil Login"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "example": "d9ad783c-1890-4c27-b891-997af32c4dab"
                      },
                      "full_name": {
                        "type": "string",
                        "example": "John Doe"
                      },
                      "email": {
                        "type": "string",
                        "example": "johndoe@gmail.com"
                      },
                      "user_token": {
                        "type": "string",
                        "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "400": {
          "description": "Some of input are empty",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "boolean",
                    "example": true
                  },
                  "message": {
                    "type": "string",
                    "example": "input cannot be empty"
                  }
                }
              }
            }
          }
        },
        "401": {
          "description": "Invalid Email or Password",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "boolean",
                    "example": true
                  },
                  "message": {
                    "type": "string",
                    "example": "invalid email or password"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
    "/v1/register/customer": {
      "post": {
        "tags": ["Auth"],
        "summary": "Customer registration",
        "description": "Register Customer",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "fullname": {
                    "type": "string",
                    "example": "John Doe"
                  },
                  "email": {
                    "type": "string",
                    "example": "johndoe@gmail.com"
                  },
                  "password": {
                    "type": "string",
                    "example": "password123!"
                  }
                },
                "required": ["fullname", " email", "password"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful login",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Berhasil Login"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "d9ad783c-1890-4c27-b891-997af32c4dab"
                        },
                        "full_name": {
                          "type": "string",
                          "example": "John Doe"
                        },
                        "email": {
                          "type": "string",
                          "example": "johndoe@gmail.com"
                        },
                        "user_token": {
                          "type": "string",
                          "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Email already exist in the database, use another email. Possible som of input empty.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "duplicated data"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/login/admin": {
      "post": {
        "tags": ["Auth"],
        "summary": "Admin login",
        "description": "User Admin Login",
        "responses": {
          "200": {
            "description": "200 (OK)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Berhasil Login"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "d9ad783c-1890-4c27-b891-997af32c4dab"
                        },
                        "full_name": {
                          "type": "string",
                          "example": "John Doe"
                        },
                        "email": {
                          "type": "string",
                          "example": "johndoe@gmail.com"
                        },
                        "user_token": {
                          "type": "string",
                          "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Some of input are empty",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "input cannot be empty"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid Email or Password",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "invalid email or password"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/create/admin": {
      "post": {
        "tags": ["Auth"],
        "summary": "(TEST) Create Admin User",
        "description": "Create Admin User. For test only.",
        "responses": {
          "200": {
            "description": "200 (OK)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Berhasil Login"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "d9ad783c-1890-4c27-b891-997af32c4dab"
                        },
                        "full_name": {
                          "type": "string",
                          "example": "John Doe"
                        },
                        "email": {
                          "type": "string",
                          "example": "johndoe@gmail.com"
                        },
                        "user_token": {
                          "type": "string",
                          "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Some of input are empty",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "input cannot be empty"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }


  }
}
